In [ ]:
import json
import psycopg2

# IMPORT TRAINEE

# Koneksi ke database
conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

# Load data trainee
with open('../../Data Scraping/data/cleaned/trainee.json', 'r', encoding='utf-8') as f:
    trainees = json.load(f)

for t in trainees:
    cur.execute("""
        INSERT INTO trainee (id_trainee, name, company, age, korean_name, japanese_name, first_grade, last_grade, first_rank, final_rank)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        ON CONFLICT (id_trainee) DO NOTHING
    """, (
        t.get('id_trainee'),
        t.get('name'),
        t.get('company'),
        t.get('age'),
        t.get('korean_name'),
        t.get('japanese_name'),
        t.get('1st_grade'),
        t.get('last_grade'),
        t.get('1st_rank'),
        t.get('final_rank')
    ))

conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT EVALUATION

# Koneksi ke database
conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

# Load data evaluation
with open('../../Data Scraping/data/cleaned/evaluation.json', 'r', encoding='utf-8') as f:
    evaluations = json.load(f)  
for e in evaluations:
    cur.execute("""
        INSERT INTO evaluation (evaluation_id, evaluation_type)
        VALUES (%s, %s)
        ON CONFLICT (evaluation_id) DO NOTHING
    """, (
        e.get('evaluation_id'),
        e.get('evaluation_type')
    ))

conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT ALBUM

conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

with open('../../Data Scraping/data/cleaned/album.json', 'r', encoding='utf-8') as f:
    albums = json.load(f)
for a in albums:
    cur.execute("""
        INSERT INTO album (id_album, title, release_date, label, formats, jpn_hot, jpn_digital, us_world, sales)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        ON CONFLICT (id_album) DO NOTHING
    """, (
        a.get('id_album'),
        a.get('title'),
        a.get('release_date'),
        a.get('label'),
        a.get('formats'),
        a.get('jpn_hot'),
        a.get('jpn_digital'),
        a.get('us_world'),
        a.get('sales')
    ))

conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT SINGLES


conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

with open('../../Data Scraping/data/cleaned/singles.json', 'r', encoding='utf-8') as f:
    singles = json.load(f)
for s in singles:
    cur.execute("""
        INSERT INTO singles (id_single, title, lyrics_writer, music_producer, arrangement, duration)
        VALUES (%s, %s, %s, %s, %s, %s)
        ON CONFLICT (id_single) DO NOTHING
    """, (
        s.get('id_single'),
        s.get('title'),
        s.get('lyrics_writer'),
        s.get('music_producer'),
        s.get('arrangement'),
        s.get('duration')
    ))

conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT SINGLES_CHART
conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()
with open('../../Data Scraping/data/cleaned/single_chart.json', 'r', encoding='utf-8') as f:
    singles_chart = json.load(f)
for sc in singles_chart:
    cur.execute("""
        INSERT INTO single_chart (id_single, year, peak_kor, kor_hot_100, id_album)
        VALUES (%s, %s, %s, %s, %s)
    """, (
        sc.get('id_single'),
        sc.get('year'),
        sc.get('peak_kor'),
        sc.get('kor_hot_100'),
        sc.get('id_album')
    ))
conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT EPISODES

conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

with open('../../Data Scraping/data/cleaned/episodes.json', 'r', encoding='utf-8') as f:
    episodes = json.load(f)
for ep in episodes:
    cur.execute("""
        INSERT INTO episodes (episode, broadcast_date, nationwide_rate, seoul_rate)
        VALUES (%s, %s, %s, %s)
        ON CONFLICT (episode) DO NOTHING
    """, (
        ep.get('episode'),
        ep.get('broadcast_date'),
        ep.get('nationwide_rate'),
        ep.get('seoul_rate')
    ))

conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT DATA INDIVIDUAL EVALUATION

conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()         
with open('../../Data Scraping/data/cleaned/individual_evaluation.json', 'r', encoding='utf-8') as f:
    data_individual_evaluation = json.load(f)
for d in data_individual_evaluation:    
    cur.execute("""
        INSERT INTO individual_evaluation (evaluation_id, company, grade, song)
        VALUES (%s, %s, %s, %s)
        ON CONFLICT (evaluation_id, company, grade, song) DO NOTHING
    """, (
        d.get('evaluation_id'),
        d.get('company'),
        d.get('grade'),
        d.get('song')
    ))
conn.commit()
cur.close()
conn.close()

In [ ]:
import json
import psycopg2

conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

# Insert group_battle_evaluation (parent table)
with open('../../Data Scraping/data/cleaned/group_battle_evaluation.json', 'r', encoding='utf-8') as f:
    evals = json.load(f)
for e in evals:
    cur.execute("""
        INSERT INTO group_battle_evaluation (id_perform, evaluation_id, original_artist, song)
        VALUES (%s, %s, %s, %s)
        ON CONFLICT (id_perform) DO NOTHING
    """, (
        e.get('id_perform'),
        e.get('evaluation_id'),
        e.get('original_artist'),
        e.get('song')
    ))
conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT DATA GROUP BATTLE PERFORMANCE

conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)

# Insert group_battle_performance (child table)
with open('../../Data Scraping/data/cleaned/group_battle_performance.json', 'r', encoding='utf-8') as f:
    data_group_battle_performance = json.load(f)

cur = conn.cursor()

for d in data_group_battle_performance:
    cur.execute("""
        INSERT INTO group_battle_performance (id_perform, team_name, trainee_position, trainee_votes, trainee_bonus)
        VALUES (%s, %s, %s, %s, %s)
    """, (
        d.get('id_perform'),
        d.get('team_name'),
        d.get('trainee_position'),
        d.get('trainee_votes'),
        d.get('trainee_bonus')
    ))

conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT DATA POSITION EVALUATION
conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor() 
with open('../../Data Scraping/data/cleaned/position_evaluation.json', 'r', encoding='utf-8') as f:
    data_position_evaluation = json.load(f) 
for d in data_position_evaluation:
    cur.execute("""
        INSERT INTO position_evaluation (id_perform, evaluation_id, category, song, original_artist)
        VALUES (%s, %s, %s, %s, %s)
        ON CONFLICT (id_perform) DO NOTHING 
    """, (
        d.get('id_perform'),
        d.get('evaluation_id'),
        d.get('category'),
        d.get('song'),
        d.get('original_artist')
    ))
conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT DATA POSITION PERFORMANCE

conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor() 
with open('../../Data Scraping/data/cleaned/position_performance.json', 'r', encoding='utf-8') as f:
    data_position_performance = json.load(f)
for d in data_position_performance:
    cur.execute("""
        INSERT INTO position_performance (id_perform, trainee_votes, rank_in_team, trainee_bonus)
        VALUES (%s, %s, %s, %s)
    """, (
        d.get('id_perform'),
        d.get('trainee_votes'),
        d.get('rank_in_team'),
        d.get('trainee_bonus')
    ))
conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT DATA CONCEPT EVALUATION
conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor() 
with open('../../Data Scraping/data/cleaned/concept_evaluation.json', 'r', encoding='utf-8') as f:
    data_concept_evaluation = json.load(f) 
for d in data_concept_evaluation:
    cur.execute("""
        INSERT INTO concept_evaluation (id_perform, evaluation_id, concept, producer, id_single, votes)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, (
        d.get('id_perform'),
        d.get('evaluation_id'),
        d.get('concept'),
        d.get('producer'),
        d.get('id_single'),
        d.get('votes')
    ))
conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT DATA CONCEPT PERFORMANCE

conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor() 

with open('../../Data Scraping/data/cleaned/concept_performance.json', 'r', encoding='utf-8') as f:
    data_concept = json.load(f) 

for d in data_concept:
    cur.execute("""
            INSERT INTO concept_performance (id_perform, trainee_position, trainee_votes, trainee_rank, bonus)
            VALUES (%s, %s, %s, %s, %s)
        """, (
            d.get('id_perform'),
            d.get('trainee_position'),
            d.get('trainee_votes'),
            d.get('trainee_rank'),
            d.get('bonus')
        ))
conn.commit()
cur.close()
conn.close()

In [ ]:
# INSERT DATA DEBUT EVALUATION
conn = psycopg2.connect(
    dbname="Produce48",
    user="postgres",
    password="Masukaja#224",
    host="localhost",
    port="5432"
)
cur = conn.cursor() 
with open('../../Data Scraping/data/cleaned/debut_evaluation.json', 'r', encoding='utf-8') as f:
    debut_evaluation = json.load(f) 
for d in debut_evaluation:
    cur.execute("""
        INSERT INTO debut_evaluation (id_perform, evaluation_id, id_single, trainee_position)
        VALUES (%s, %s, %s, %s)
    """, (
        d.get('id_perform'),
        d.get('evaluation_id'),
        d.get('id_single'),
        d.get('trainee_position')
    ))
conn.commit()
cur.close()
conn.close()